<h1><%= t(:phone) %></h1>

<%= render :partial => 'phones/table_of_phones', :locals => {:phones => [@phone]} %>
<h2><%= t(:sip_accounts) %></h2>
<%= render :partial => 'sip_accounts/table_of_sip_accounts', :locals => {:sip_accounts => @phone.sip_accounts} %>



