# ignore vim swap files:
*.swp

.DS_Store
.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/**/*
.project
*.komodoproject
/.komodotools
.tmp*~
ERD.pdf
/vendor/cache
/vendor/bundle
.settings/*
.idea/*

# ignore .build_unclean (used by "make deb")
/.build_unclean

