<h1><%= t(:editing_manufacturer) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @manufacturer if can?( :show, @manufacturer ) %> |
<%= link_to t(:Go_to_list), manufacturers_path if can?( :index, Manufacturer ) %>
