
<p>
	<b>Management host:</b>
	<%= @node.management_host %>
</p>

<p>
	<b>Management port:</b>
	<%= @node.management_port %>
</p>

<p>
	<b>Title:</b>
	<%= @node.title %>
</p>


<%#= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
