
<p>
  <b>SIP domain/host:</b>
  <%= @sip_server.host %>
</p>

<p>
  <b>SIP port:</b>
  <%= @sip_server.port %>
</p>

<p>
  <b>Is on this node?:</b>
  <%= @sip_server.is_local ? "yes" : "no" %>
</p>


<%= link_to 'Back', sip_servers_path %>
