
<p>
  <b>Host:</b>
  <%= @sip_server.host %>
</p>
<p>
  <b>Port:</b>
  <%= (! @sip_server.port.blank?) ? @sip_server.port : "none" %>
</p>
<p>
  <b>Is on this node</b>
  <%= @sip_server.is_local %>
</p>

<%= link_to 'Back', sip_servers_path %>
