
<p>
  <b>Host:</b>
  <%= @sip_proxy.host %>
</p>
<p>
  <b>Port:</b>
  <%= (! @sip_proxy.port.blank?) ? @sip_proxy.port : "none" %>
</p>
<p>
  <b>Is on this node</b>
  <%= @sip_proxy.is_local %>
</p>


<%= link_to 'Back', sip_proxies_path %>
