
<p>
  <b>SIP host:</b>
  <%= @sip_proxy.host %>
</p>

<p>
  <b>SIP port:</b>
  <%= @sip_proxy.port %>
</p>

<p>
  <b>Is on this node?:</b>
  <%= @sip_proxy.is_local ? "yes" : "no" %>
</p>


<%= link_to 'Back', sip_proxies_path %>
