<h1>Admin tasks</h1>

<div class="help_overview">
	
	<section>
		<h2>Call Forwards</h2>
		<p><em>How do I configure a call forward for a SIP account?</em></p>
		<p>
			Go to the <%= link_to( "Call Forwards",
				url_for(:controller => '/call_forwards', :action => 'index')) %>
			and click <q>New</q> or <q>Edit</q>.
		</p>
		<ul>
			<li>Select a SIP account, a case (always / busy / noanswer /
				offline / assistant) enter a destination, and make it
				active.</li>
			<li>Leave the source blank for calls from any number
				or fill out the source if you want a call forward
				that is valid for calls from a specific source only.</li>
			<li>Leave the destination blank, if you want to
				<q>blacklist</q> a source.</li>
			<li>Timeout must be set if case is <q>noanswer</q>.</li>
			<li>For your voicemail box set <q>voicemail</q> as destination.</li>
		</ul>
	</section>
	
	<section>
		<h2>Queue Login/Logout</h2>
		<p><em>How do I log in to a queue?</em></p>
		<ul>
			<li>To log in to a queue dial <code>*50*</code> and the extension
				of the queue.</li>
			<li>To log out dial <code>#50#</code> and the extension
				of the queue.</li>
		</ul>
	</section>

	<section>
		<h2>Fax</h2>
		<p><em>How can I define a number to receive a fax?</em></p>
		<p>
			Go to the <%= link_to( "Extensions",
				url_for(:controller => '/extensions', :action => 'index')) %>
			and click <q>New</q> or <q>Edit</q>.
		</p>
		<ul>
			<li>Fill out <q>Extension</q> with the number of your choice.</li>
			<li>Use <q>-fax-receive-</q> as target.</li>
		</ul>
	</section>
	
</div>
