<h1>Tasks</h1>

<div class="help_overview">
	
	<section>
		<h2>Call Forwards</h2>
		<p><em>How do I configure a call forward for a SIP account?</em></p>
		<p>
			Go to the <%= link_to( "Call Forwards",
			url_for(:controller => '/call_forwards', :action => 'index')) %>
			and click <q>New</q> or <q>Edit</q>.
			Select a SIP account, a case (always / busy / noanswer /
			offline) enter a destination, and make it active.
			Leave the source blank for calls from any number
			or fill out the source if you want a call forward
			that is valid for calls from a specific source only.
		</p>
	</section>
	
	<section>
		<h2>Queue Login/Logout</h2>
		<p><em>How do I log in to a queue?</em></p>
		<p>
			To log in to a queue dial <code>*50*</code> and the extension
			of the queue.
			To log out dial <code>#50#</code> and the extension
			of the queue.
		</p>
	</section>

</div>
