
<p>
  <b>SIP host:</b>
  <%= @voicemail_server.host %>
</p>

<p>
  <b>SIP port:</b>
  <%= @voicemail_server.port %>
</p>

<p>
  <b>Is on this node?:</b>
  <%= @voicemail_server.is_local ? "yes" : "no" %>
</p>


<%= link_to 'Back', voicemail_servers_path %>
