
<p>
  <b>SIP user ID:</b>
  <%= @extension.sip_account_id %>
</p>

<p>
  <b>Extension:</b>
  <%= @extension.extension %>
</p>


<%= link_to 'Edit', edit_extension_path(@extension) %> |
<%= link_to 'Back', extensions_path %>
