/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "compass/reset";
*/
body {
	background-color: #fff;
	color: #000;
	padding: 0.8em 1.5em;
	max-width: 75em;
	margin: auto;
}

body, p, ol, ul, td {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 10pt;
	line-height: 1.35em;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: #00c;
}

a:visited {
	color: #609;
}

a:hover,
a:focus,
a:active {
	text-shadow: 1px 2px 3px #aaa;
}

div {
	padding: 0;
	margin: 0;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#notice, .app_notice {
	padding: 0;
	background-color: #dfd;
	color: #090;
}

#alert, .app_alert {
	padding: 0;
	background-color: #fdd;
	color: #c00;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

table th,
table td {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.05);
	padding: 0.15em 0.4em;
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
}

table th {
	background-color: #bbf;
}

table tr:nth-child(even) > td,
table tr.even > td {
	background-color: #f0f0f0;
}

table tr:nth-child(odd) > td,
table tr.odd > td {
	background-color: #dddddd;
}

#header {
	margin: 0 0 0.5em 0;
	padding: 0 2pt 1pt 2pt;
}

#user_nav {
	text-align: right;
	position: relative;
	float: right;
	padding: 1px;
}

#application {
	text-align: left;
	position: relative;
	float: left;
	padding: 1px;
	font-weight: bold;
}

#content {
	background-image: -moz-linear-gradient(top, #eeeeee, white 20pt);
	background-image: -o-linear-gradient(top, #eeeeee, white 20pt);
	background-image: -webkit-gradient(linear, 0 top, 0 15%, from(#eeeeee), to(white));
	border-radius: 4pt;
	-moz-border-radius: 4pt;
	-webkit-border-radius: 4pt;
	-khtml-border-radius: 4pt;
	-o-border-radius: 4pt;
	margin: 0  0   0  0;
	padding: 2px  8px 0  8px;
}

.clear {
	display: block;
	float: none;
	clear: both;
	height: 0;
	visibility: hidden;
}

.simple_form label {
	float: left;
	width: 180px;
	text-align: right;
	margin: 2px 10px;
}

.simple_form div.input {
	margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
	margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
	float: none;
	margin: 0;
}

.simple_form label.collection_radio {
	margin-right: 10px;
	margin-left: 2px;
}

.simple_form .error {
	clear: left;
	margin-left: 120px;
	font-size: 12px;
	color: #D00;
	display: block;
}

.simple_form .hint {
	clear: left;
	margin-left: 120px;
	font-size: 12px;
	color: #555;
	display: block;
	font-style: italic;
}

.index_overview {
	height: auto;
	column-width: 23em;
	-moz-column-width: 23em;
	-webkit-column-width: 23em;
	-khtml-column-width: 23em;
	-o-column-width: 23em;
	column-gap: 1em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	-khtml-column-gap: 1em;
	-o-column-gap: 1em;
	column-fill: balance;
	-moz-column-fill: balance;
	-webkit-column-fill: balance;
	-khtml-column-fill: balance;
	-o-column-fill: balance;
	widows: 5;
	orphans: 5;
}

.index_overview section {
	display: table;
}

.noticebox {
	margin: 0 0px 15px 0px;
	padding: 5px;
	min-width: 10em;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	border: 2px solid #dd3;
	background-color: #ffb;
	color: #550;
	box-shadow: 2px 2px 8px #bbb;
	-moz-box-shadow: 2px 2px 8px #bbb;
	-webkit-box-shadow: 2px 2px 8px #bbb;
	-khtml-box-shadow: 2px 2px 8px #bbb;
	-o-box-shadow: 2px 2px 8px #bbb;
}

@media screen, projection, tv, print, handheld, embossed {
	/*
	Used to enhance navigation in lynx and screen readers
	(@media braille, speech, tty).
	*/
	.tty {
		display: none;
	}
}
@media all and (max-width: 800px) {
	nav.hnav {
		display: block;
		border-top: 1px dashed #00a;
		border-bottom: 1px dashed #00a;
		margin: 5pt 2pt 7pt 2pt;
		padding: 7pt 4pt;
		background: #def;
		min-width: 15em;
	}

	nav.hnav ul {
		margin: 0;
		padding: 0 0 0 2em;
	}
}
@media all and (min-width: 800px) {
	nav.hnav {
		min-width: 750px;
		display: block;
		margin: 5pt 0 10pt 0;
		padding: 0;
		border: 1px solid #222;
		border: 1px solid rgba(0, 0, 0, 0.8);
		position: relative;
		border-radius: 4pt;
		-moz-border-radius: 4pt;
		-webkit-border-radius: 4pt;
		-khtml-border-radius: 4pt;
		-o-border-radius: 4pt;
		box-shadow: 1px 1pt 3px #aaa;
		-moz-box-shadow: 1px 1pt 3px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 1px 1pt 3px #aaa;
		-khtml-box-shadow: 1px 1pt 3px #aaa;
		-o-box-shadow: 1px 1pt 3px #aaa;
		background-color: #03c;
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.15) 50%, rgba(255, 255, 255, 0.2));
		background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.15) 50%, rgba(255, 255, 255, 0.2));
		background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255, 255, 255, 0.5)), color-stop(50%, rgba(255, 255, 255, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.15)), to(rgba(255, 255, 255, 0.2)));
	}

	nav.hnav ul {
		padding: 0;
		margin: 0;
	}

	nav.hnav ul:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	nav.hnav li:hover ul,
	nav.hnav li:active ul,
	nav.hnav li:focus ul {
		display: block;
		box-shadow: 1px 2pt 4pt #aaa;
		-moz-box-shadow: 1px 3pt 15pt rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 1px 2pt 4pt #aaa;
		-khtml-box-shadow: 1px 2pt 4pt #aaa;
		-o-box-shadow: 1px 2pt 4pt #aaa;
		padding: 3pt 0 4pt 0;
		border-radius: 0 0 4pt 4pt;
		-moz-border-radius: 0 0 4pt 4pt;
		-webkit-border-radius: 0 0 4pt 4pt;
		-khtml-border-radius: 0 0 4pt 4pt;
		-o-border-radius: 0 0 4pt 4pt;
		border-width: 1px;
		border-style: solid;
		border-color: #222;
		border-color: rgba(0, 0, 0, 0.6);
		border-top: 1px solid #000;
	}

	nav.hnav li {
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Arial", sans-serif;
		font-size: 11pt;
		font-weight: normal;
		line-height: 1.2em;
		text-shadow: 1px 2px 4px #112;
	}

	nav.hnav li a {
		display: block;
		padding: 5pt 12pt 6pt 12pt;
		min-width: 4em;
		text-align: center;
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		color: #fff;
		text-decoration: none;
	}

	nav.hnav li li a {
		text-align: left;
	}

	nav.hnav li a:hover,
	nav.hnav li a:active,
	nav.hnav li a:focus,
	nav.hnav li a.current_page_navigation {
		color: #fff;
		background-color: #029;
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.15) 50%, rgba(255, 255, 255, 0.2));
		background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.15) 50%, rgba(255, 255, 255, 0.2));
		background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255, 255, 255, 0.5)), color-stop(50%, rgba(255, 255, 255, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.15)), to(rgba(255, 255, 255, 0.2)));
	}

	nav.hnav li a:focus {
		outline: none;
		/*text-decoration: underline;*/
	}

	nav.hnav a:hover,
	nav.hnav a:focus,
	nav.hnav a:active {
		text-shadow: 1px 2px 4px #112;
		text-shadow: 1px 2px 4px #112;
	}

	nav.hnav li:first-child a {
		border-left: none;
	}

	nav.hnav li:last-child a {
		border-right: none;
	}

	nav.hnav li {
		position: relative;
		float: left;
		list-style-type: none;
	}

	nav.hnav ul ul {
		display: none;
		width: 100%;
		width: auto;
		white-space: nowrap;
		position: absolute;
		left: 0;
		background-color: #fff;
		/*background-color: hsla( 0, 0%, 100%, 0.95 );*/
	}

	nav.hnav ul ul a {
		padding: 5px 10px;
		border-left: none;
		border-right: none;
		font-size: 90%;
		color: #000;
		text-shadow: 1px 1px 4px #aaa;
	}

	nav.hnav ul ul li {
		float: none;
	}

	nav.hnav ul ul a:hover,
	nav.hnav ul ul a:active,
	nav.hnav ul ul a:focus {
		background-color: #03c;
		box-shadow: inset 0px 1px 3pt #33a;
		-moz-box-shadow: inset 0px 1px 3pt rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: inset 0px 1px 3pt rgba(0, 0, 0, 0.2);
		-khtml-box-shadow: inset 0px 1px 3pt rgba(0, 0, 0, 0.2);
		-o-box-shadow: inset 0px 1px 3pt #33a;
	}
}
