<h1><%= t(:editing_call_forward) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @call_forward if can?( :show, @call_forward ) %> |
<%= link_to t(:back), call_forwards_path if can?( :index, CallForward ) %>
