<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<document type="freeswitch/xml">
	<section name="result">
		<result status="not found" />
		<%- if defined?(msg); ( %>
		<!-- <%= msg.gsub('--','- - ') %> -->
		<%- )end %>
	</section>
</document>
