<h1><%= t(:call_log) %></h1>
<%= render 'show' %>
<%= link_to t(:edit), edit_call_log_path(@call_log) if can?( :edit, @call_log ) %> |
<%= link_to t(:Go_to_list), call_logs_path if can?( :index, CallLog ) %>
