<h1><%= t(:listing_sip_accounts) %></h1>

<%= render :partial => 'table_of_sip_accounts', :locals => {:sip_accounts => @sip_accounts} %>

<br />

<%= link_to t(:new_sip_account), new_sip_account_path %>
