@charset "UTF-8";

@import "compass";

/* Put your own sass mixins and functions in here. */

/*
Compass doesn't know about this property yet, but it has a base
mixin called experimental that makes it trivial to add support for it:
There's a bug about this: https://github.com/chriseppstein/compass/issues/334
*/
@mixin column-fill($fill) {
	@include experimental( column-fill, $fill, -moz, -webkit, -o, not -ms, not -khtml, official );
}



/*
This file resets and then applies a typographic base
See http://beta.compass-style.org/reference/compass/typography/vertical_rhythm/
*/

/*
@import "compass/reset";
#OPTIMIZE Add this. The Compass stuff resets too much though (e.g. removes quotes for <q>). It needs to be added here.
*/

/*
Chris Eppstein says: It's kind of strange to use pt for your fonts
with compass, but we supports it with a little setup, I think
you'll find it easier to use pixels so I have changed things to
use that. The compass typography system will convert px to ems
for you.
If you want to go back to pt then just change the px-based measures
you see below.
Philipp Kempgen says: I didn't use pt with Compass but in pure CSS.
Also there is no way to convert px to em. pt is an absolute unit.
px depends on the screen's resolution.
*/
/*$base-font-size:   13px;    *//* font-size was 10pt */
/*$base-line-height: 17.6px;  *//* line-height was 1.35em */
/*
$base-font-size:   13.55px;
$base-line-height: 18.9px;
*/
$base-font-size:   13.8px;
$base-line-height: $base-font-size * 1.38;

@import "compass/typography";
$ie-font-ratio: $base-font-size / 100%;

@include establish-baseline;

body {
	font-family: "Arial", "Helvetica", sans-serif;
}

/* Establish Header styles */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	@include leader( 0.5 );
}

h1 { @include adjust-font-size-to( 26px ); @include trailer( 0.5  ); }
h2 { @include adjust-font-size-to( 22px ); @include trailer( 0.6  ); }
h3 { @include adjust-font-size-to( 18px ); @include trailer( 0.75 ); }
h4 { @include adjust-font-size-to( 16px ); }
h5 { @include adjust-font-size-to( 14px ); }
h6 { @include adjust-font-size-to( 13px ); }

/* Establish styles for text blocks */
p,
blockquote,
li {
	@extend .text-block;
}

/*
Style blocks of text with a consistent style
use the @extend directive to apply this class to your elements/classes/etc.
*/
.text-block {
	@include trailer(1);
	a         { }
	strong    { font-weight: bold; }
	em        { font-style: italic; }
}

/* Establish list styles */
ol,
ul {
	list-style-position: inside;
	@include leader(1);
	@include trailer(1);
	padding-left: 1em;
	
	li {
		@include trailer( 0 );
	}
}

ol {
	list-style-type: decimal;
}
ul {
	list-style-type: disc;        
	ul {
		list-style-type: circle;      
		ul {
			list-style-type: square;
		}
	}
}

/* Debugging background, can be applied to other places if you need to check vertical alignment. */
body#styles_typography {
	#content {
		/*
		background: image-url( "underline.png" );
		*/
	}
}




/* Chris Eppstein says: Other basic styling from your original css */
/* ######## End of Sass stuff. ######## */



body {
	background-color: #fff;
	color: #000;
	@include padding-leader(1);
	@include padding-trailer(1);
	padding: 0.8em 1.5em 1.7em 1.5em;
	max-width: 75em;
	margin: auto;
}

body, p, ol, ul, td {
	font-family: "Arial", "Helvetica", sans-serif;
}

pre {
	background-color: #eee;
	@include leader(1);
	@include trailer(1);
	padding: {
		left:  1em;
		right: 1em;
	}
	@include adjust-font-size-to(11px);
}

a {
	color: #00c;
	&:visited {
		color: #609;
	}
	&:hover,
	&:focus,
	&:active {
		@include text-shadow( 1px 2px 3px #aaa );
	}
}

div {
	@include reset-box-model;
	
	&.field,
	&.actions {
		@include trailer( 1 );
	}
}



#notice, .app_notice {
	padding: 0;
	background-color: #dfd;
	color: #090;
}
#alert, .app_alert {
	padding: 0;
	background-color: #fdd;
	color: #c00;
}


.field_with_errors {
	background-color: #fee;
	/*display: table;*/
}

#errorExplanation,
#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	background-color: #f0f0f0;
	@include box-shadow( 1px 2px 8px #bbb );
	
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	
	p,
	ul {
		margin: 1em 0.5em;
	}
	
	ul li {
		font-size: 12px;
		list-style: square;
	}
}


table {
	th,
	td {
		border-width: 1px;
		border-style: solid;
		border-color: rgba(0,0,0,0.05);
		padding: 0.25em 0.5em;
		text-align: left;
		vertical-align: top;
		background-color: #f3f3f3;
	}
	th {
		background-color: #bbf;
	}
	tr {
		&:nth-child(even) > td,
		&.even            > td {
			background-color: #f0f0f0;
		}
		&:nth-child(odd)  > td,
		&.odd             > td {
			background-color: #dddddd;
		}
	}
}


#header {
	margin: 0.8em 0 0.5em 0;
	padding: 0 2pt 1pt 2pt;
	position: relative;
	vertical-align: bottom;
}

#user_nav {
	text-align: right;
	float: right;
}

#application {
	text-align: left;
	float: left;
	font-weight: bold;
}

#user_nav, #application {
	position: relative;
}

#user_nav, #application {
	padding: 1px;
	margin-top: 6pt;
}

#logo {
	text-align: left;
	float: left;
	margin: 0 5pt 0 0;
}

#content {
	/*
	background-image: -moz-linear-gradient( top, #eee, #fff 20pt );
	background-image: -o-linear-gradient( top, #eee, #fff 20pt );
	background-image: -webkit-gradient( linear, 0 top, 0 15%, from(#eee), to(#fff) );
	*/
	@include
	background-image(   linear-gradient( top, #eeeeee, white 20pt ) );
	@include
	border-radius( 4pt );
	margin:    0  0   0  0  ;
	padding: 2px  8px 0  8px;
}

#footer {
	text-align: center;
	font-size: 0.9em;
	color: #404040;
	margin: 3em 0 0 0;
	
	.amooma-name {
		text-transform: uppercase;
		letter-spacing: 0.1pt;
	}
}

.clear {
	display: block;
	float: none;
	clear: both;
	height: 0;
	visibility: hidden;
}

.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }



form.simple_form,
div.simple_form_show {
	
	margin-top:    2em;
	margin-bottom: 2em;
	margin-left:   auto;
	margin-right:  auto;
	width: 80%;
	font-size: 1.02em;
	
	padding: 1.2em 0.5em;
	@include
	background-image( linear-gradient( top, #e0e0ff, white 3px, #f6f6ff 97%, #dfdfff ));
	border: 1px solid rgba(0,0,100,0.2);
	@include
	border-radius( 7pt );
	@include box-shadow( 1px 4px 12pt hsla( 0, 0%, 0%, 0.25 ));
	
}

form.simple_form {
	
	div.input {
		padding: 5px;
		display: table;
		margin-bottom: 2px;
	}
	
	label {
		float: left;
		width: 180px;
		text-align: right;
		margin: 2px 10px;
		color: #046;
	}
	
	div.input.boolean {
		margin-left: 196px;
	}
	
	input[type='submit'] {
		margin-left: 196px;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
	}
	
	div.input.boolean label,
	label.collection_radio {
		float: none;
		margin: 0;
	}
	
	label.collection_radio {
		margin-right: 10px;
		margin-left: 2px;
	}
	
	.error {
		clear: left;
		margin-left: 196px;
		padding: 0 5px;
		font-size: 12px;
		color: #D00;
		display: block;
	}
	
	.hint {
		clear: left;
		margin-left: 196px;
		padding: 3px 5px;
		font-size: 0.94em;
		line-height: 1.37em;
		color: #888;
		display: block;
		font-style: italic;
	}
	
	div.input.boolean {
		.hint {
			margin-left: 0px;
		}
	}
}

div.simple_form_show {
	
	margin-bottom: 2.5em;
	
	/* like form.simple_form div.input */
	p {
		/* reset p */
		margin: 0; padding: 0;
		
		display: table;
		padding: 0px;
		margin-bottom: 2px;
		font-weight: bold;
	}
	
	/* like form.simple_form label */
	b {
		/* reset b */
		font-weight: normal;
				
		display: table-cell;
		width: 180px;
		text-align: right;
		padding: 4px 15px;
		color: #046;
	}
}


.status_yes { color: #0a0 !important; }
.status_no  { color: #a00 !important; }


.index_overview {
	height: auto;
	@include column-width( 23em );
	-webkit-column-width: auto; /* Google Chrome (12) has rendering problems. Unfortunately this disables it for Safari as well. */
	@include column-gap( 1em );
	@include column-fill( balance );
	widows: 5;
	orphans: 5;
	
	section {
		display: table;
	}
}

.help_overview {
	height: auto;
	@include column-width( 26em );
	-webkit-column-width: auto; /* Google Chrome (12) has rendering problems. Unfortunately this disables it for Safari as well. */
	@include column-gap( 2em );
	@include column-fill( balance );
	widows: 5;
	orphans: 5;
	font-size: 0.95em;
	line-height: 1.25em;
	
	section {
		display: table;
	}
}


.noticebox {
	margin: 0 0px 15pt 0px;
	padding: 5pt;
	min-width: 10em;
	text-align: center;
	@include border-radius( 6px );
	border: 2px solid #dd3;
	background-color: #ffb;
	color: #550;
	@include box-shadow( 2px 2px 8px #bbb );
}

.infobox {
	margin: 0 0px 15pt 0px;
	padding: 5pt;
	min-width: 10em;
	text-align: center;
	@include border-radius( 6px );
	border: 2px solid #ccc;
	background-color: #fff;
	color: #666;
	@include box-shadow( 2px 2px 8px #ccc );
}


@media screen, projection, tv, print, handheld, embossed {
	/*
	Used to enhance navigation in lynx and screen readers
	(@media braille, speech, tty).
	*/
	.tty {
		display: none;
	}
}



@media all and (max-width: 840px) {
	nav.hnav {
		display: block;
		border-top:    1px dashed #00a;
		border-bottom: 1px dashed #00a;
		margin: 5pt 2pt 7pt 2pt;
		padding: 7pt 4pt;
		background: #def;
		min-width: 15em;
		
		ul {
			margin: 0;
			padding: 0 0 0 2em;
		}
	}
}

@media all and (min-width: 840px) {
	
	nav.hnav {
		min-width: 750px;
		display: block;
		margin: 5pt 0 10pt 0;
		padding: 0;
		border: 1px solid #222;
		border: 1px solid hsla(0, 0%, 0%, 0.8);
		position: relative;
		@include border-radius( 4pt );
		@include box-shadow( 1px 1pt 3px #aaa );
		-moz-box-shadow:    1px 1pt 3px hsla( 0, 0%, 0%, 0.35 );
		/*
		Chris Eppstein says: Why is this a different color for mozilla?
		Philipp Kempgen says: Firefox knows hsla(). Other browsers don't (or have not been tested).
		*/
		background-color: #03c;
		@include
		background-image( linear-gradient( top,
			hsla( 0, 0%, 100%, 0.5  ),
			hsla( 0, 0%, 100%, 0.05 ) 50%,
			hsla( 0, 0%,   0%, 0.15 ) 50%,
			hsla( 0, 0%, 100%, 0.2  )
			));
		
		ul {
			padding: 0;
			margin: 0;
			@include pie-clearfix; /* It generates "*zoom: 1;". Huh? Wasn't required in the original CSS. */
		}
		
		li {
			&:hover  ul,
			&:active ul,
			&:focus  ul {
				display: block;
				@include box-shadow( 1px 2pt 4pt #aaa );
				-moz-box-shadow: 1px 3pt 15pt hsla(0, 0%, 0%, 0.3);
				/*
				Chris Eppstein says: Why is moz special?
				Philipp Kempgen says: See my explanation above.
				*/
				padding: 3pt 0 4pt 0;
				
				/*
				border-radius:         0 0 4pt 4pt;
				Chris Eppstein says: You had: border-radius:  0 0 4pt 4pt
				But there is not good browser support for this shorthand.
				Instead set these
				@include border-top-radius(0);
				@include border-bottom-radius(4pt);
				Philipp Kempgen says: That isn't the same. Find a better solution.
				Also it's not true. The styles I used here have been
				tested in all recent, popular browsers and work perfectly.
				*/
				border-radius:         0 0 4pt 4pt;
				-moz-border-radius:    0 0 4pt 4pt;
				-webkit-border-radius: 0 0 4pt 4pt;
				-khtml-border-radius:  0 0 4pt 4pt;
				-o-border-radius:      0 0 4pt 4pt;
				
				border-width: 1px;
				border-style: solid;
				border-color: #222;
				border-color: hsla(0, 0%, 0%, 0.6);
				border-top: 1px solid #000;
			}
			
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Arial", sans-serif;
			font-size: 11pt;
			font-weight: normal;
			line-height: 1.2em;
			text-shadow: 1px 2px 4px #112;
			
			a {
				display: block;
				padding: 5pt 12pt 6pt 12pt;
				min-width: 4em;
				text-align: center;
				border-left: 1px solid hsla(0, 0%, 100%, 0.2);
				border-right: 1px solid hsla(0, 0%, 0%, 0.2);
				
				/*color: #fff;*/
				/* Note: #fff/#ffffff/white causes strange rendering bugs in WebKit: https://code.google.com/p/chromium/issues/detail?id=92962 */
				color: #fefefe;
				
				text-decoration: none;
			}
			
			li a {
				text-align: left;
			}
			
			a {
				&:hover,
				&:active,
				&:focus,
				&.current_page_navigation {
					/*color: #fff;*/
					/* Note: #fff/#ffffff/white causes strange rendering bugs in WebKit: https://code.google.com/p/chromium/issues/detail?id=92962 */
					color: #fefefe;
					
					background-color: #029;
					@include
					background-image( linear-gradient( top,
						hsla( 0, 0%, 100%, 0.5  ),
						hsla( 0, 0%, 100%, 0.05 ) 50%,
						hsla( 0, 0%,   0%, 0.15 ) 50%,
						hsla( 0, 0%, 100%, 0.2  )
						));
				}
				&:focus {
					outline: none;
					/*text-decoration: underline;*/
				}
			}
		}
		
		a {
			&:hover,
			&:focus,
			&:active {
				text-shadow: 1px 2px 4px #112;
				text-shadow: 1px 2px 4px #112;
			}
		}
		
		li {
			&:first-child a {
				border-left: none;
			}
			&:last-child a {
				border-right: none;
			}
			
			position: relative;
			float: left;
			list-style-type: none;
		}
		
		ul ul {
			display: none;
			width: 100%;
			width: auto;
			white-space: nowrap;
			position: absolute;
			left: 0;
			
			/*background-color: #fff;*/
			/* Note: #fff/#ffffff/white causes strange rendering bugs in WebKit: https://code.google.com/p/chromium/issues/detail?id=92962 */
			background-color: #fefefe;
			
			/*background-color: hsla( 0, 0%, 100%, 0.95 );*/
			
			a {
				padding: 5px 10px;
				border-left: none;
				border-right: none;
				font-size: 90%;
				color: #000;
				text-shadow: 1px 1px 4px #aaa;
			}
			
			li {
				float: none;
			}
			
			a {
				&:hover,
				&:active,
				&:focus {
					background-color: #03c;
					box-shadow: inset 0px 1px 3pt #33a;
					@include
					box-shadow( inset 0px 1px 3pt hsla( 0, 0%, 0%, 0.2 ));
				}
			}
		}
	}
}


/*
Local Variables:
mode: css
End:
*/

