<div class="help_overview">
	
	<section>
		<h2>Rufumleitungen</h2>
		<p><em>Wie kann ich eine Rufumleitung für einen SIP-Account einrichten?</em></p>
		<p>
			Gehen Sie zu <%= link_to( "Call Forwards",
				url_for(:controller => '/call_forwards', :action => 'index')) %>
			und klicken Sie <q>Neue Rufumleitung</q> oder <q>Bearbeiten</q>.
		</p>
		<ul>
			<li>Wählen Sie einen Sip-Account und einen Umleitungsfall aus (always / busy / noanswer /
				offline / assistant), geben Sie ein Ziel und setzen Sie die Umleitung auf "Aktiv".
			</li>
			<li>Wenn Sie eine Quelle angeben, ist die Umleitung nur für diese Anrufernummer gültig.
				Wenn Sie die Quelle leer lassen, ist die Umleitung für alle Anrufer gültig.
			</li>
			<li>Lassen Sie das Ziel leer um eine Anrufernummer zu 
				<q>blacklisten</q>.
			</li>
			<li>Die Klingeldauer muss und darf nur für <q>noanswer</q> gesetzt werden.</li>
			<li>Um auf den Anrufbeantworter um zu leiten setzen Sie <q>voicemail</q> als Ziel.</li>
		</ul>
	</section>
	
	<section>
		<h2>An- und Abmelden an einer Warteschlange</h2>
		<p><em>Wie kann man sich an einer Warteschlange anmelden?</em></p>
		<ul>
			<li>Um sich an einer Warteschlange an zu melden wählen Sie: <code>*50*</code> gefolgt von der Durchwahl der Warteschlange.</li>
			<li>Um sich von einer Warteschlange ab zu mlden wählen Sei: <code>#50#</code> gefolgt von der Durchwahl der Warteschlange.</li>
		</ul>
	</section>

	<section>
		<h2>Parkplätze</h2>
		<p><em>Wie kann ich die Parkplätze benutze?</em></p>
		<ul>
			<li>Setzen Sie den Anrufer auf <q>hold</q>.</li>
			<li>Wählen Sie <q>90</q> (sofern nicht vom Administrator geändert) und merken Sie sich die Ihnen angesagte Nummer des Parkplatzes.</li>
			<li>Verbinden Sie den Anrufer mit <q>transfer</q> mit dem Parkplatz.</li>
			<li>Wählen Sie von einem andern Telefon aus <q>99</q>.</li>
			<li>Geben Sie die Nummer des Parkplatzes ein.</li>
			<li>Sie werden mit dem Anrufer verbunden.</li>
		</ul>
		
	</section>
	
</div>
