<% if params[:manufacturer_id].nil? %>
  <h1>New phone model</h1>
<% else %>
  <h1>New <%= @phone_model.manufacturer.name %> phone model</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', phone_models_path if can?( :index, PhoneModel ) %>
