<% if params[:manufacturer_id].nil? %>
  <h1><%= t(:new_phone_model) %></h1>
<% else %>
  <h1><%= t(:new_phone_model_named, :name => @phone_model.manufacturer.name) %></h1>
<% end %>

<%= render 'form' %>

<%= link_to t(:Go_to_list), phone_models_path if can?( :index, PhoneModel ) %>
