<h1>PBX User Manager</h1>

<p>This is a basic web interface to GS4.</p>

<h2>Users</h2>

<%= link_to( "List all users (#{@number_of_users})",
	url_for(:controller => 'users', :action => 'index')
) %><br />
<%= link_to( "Create a new user",
	url_for(:controller => 'users', :action => 'new')
) %><br />

