<h1>PBX User Manager</h1>

<p>This is a basic web interface to GS4.</p>

<h2>Users</h2>

<%= link_to( "List all SIP accouts (#{@number_of_sip_accounts})",
	url_for(:controller => 'sip_accounts', :action => 'index')
) %><br />
<%= link_to( "Create a new SIP account",
	url_for(:controller => 'sip_accounts', :action => 'new')
) %><br />

