<h1>PBX User Manager</h1>

<p>This is a basic web interface to GS4.</p>

<h2>Users</h2>

<%= link_to "List all users (#{@number_of_users})", users_path %><br />
<%= link_to "Create a new user", new_user_path %><br />
