#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS



DEB_VERSION:=$(shell dpkg-parsechangelog | sed -n -e 's/Version: //p')
#DEB_NOEPOCH_VERSION:=$(shell echo $(DEB_VERSION) | cut -d':' -f 2)
#DEB_SRC_VERSION:=$(shell echo $(DEB_NOEPOCH_VERSION) | sed -e 's/-[^-]\+$$//')


PACKAGE = $(firstword $(shell dh_listpackages))
#PACKAGE="gemeinschaft"
TMP     = $(CURDIR)/debian/$(PACKAGE)
# http://pkg-perl.alioth.debian.org/debhelper.html


print-version:
	@@echo "Main package:      $(PACKAGE)"
	@@echo "Debian version:    $(DEB_VERSION)"
	@@echo "Debian version:    $(DEB_NOEPOCH_VERSION)"
	@@echo "Debian version:    $(DEB_SRC_VERSION)"


#build: build-arch build-indep
# 
# build-arch: build-arch-stamp
# build-arch-stamp:
# 	dh_testdir
# 	touch $@
# 
# build-indep: build-indep-stamp
# build-indep-stamp:
# 	dh_testdir
# 	touch $@
# 
# clean:
# 	dh_testdir
# 	dh_testroot
# 	dh_clean
# 
# install: install-arch install-indep
# 
# install-arch: build-arch
# 	dh_testdir
# 	dh_testroot
# 	dh_clean -k -s
# 	dh_installdirs -s
# 	
# 	dh_install -s --sourcedir=debian/tmp
# 	dh_lintian -s
# 	
# 	touch $@
# 
# install-indep: build-indep
# 	dh_testdir
# 	dh_testroot
# 	dh_clean -k -i
# 	dh_installdirs -i
# 	
# 	dh_install -i --sourcedir=debian/tmp
# 	dh_lintian -i
# 	
# 	touch $@
# 
# binary: binary-indep binary-arch
# 
# binary-indep: install-indep
# 	dh_testdir -i
# 	dh_testroot -i
# 	dh_installlogrotate -i 
# 	dh_installdocs -i
# 	dh_installexamples -i
# 	dh_installcron -i
# 	#dh_installchangelogs ChangeLog -i
# 	dh_link -i 
# 	dh_compress -i
# 	dh_fixperms -i
# 	dh_installdeb -i
# 	dh_gencontrol -i
# 	dh_md5sums -i
# 	dh_builddeb -i
# 
# binary-arch: install-arch
# 	dh_testdir -a
# 	dh_testroot -a
# 	dh_installlogrotate -a
# 	dh_installdocs -a
# 	#dh_installman utils/*.1 doc/*.8 contrib/scripts/*.8
# 	dh_installexamples -a
# 	#dh_installchangelogs ChangeLog -a
# 	#dh_installinit -a -- defaults 21
# 	#dh_strip -a --dbg-package=foobar-dbg
# 	dh_link -a
# 	dh_compress -a
# 	dh_fixperms -a
# 	dh_installdeb -a
# 	dh_shlibdeps -a
# 	dh_gencontrol -a
# 	dh_md5sums -a
# 	dh_builddeb -a
# 
# 
# .PHONY: build build-arch build-indep clean binary-indep binary-arch binary install clean print-version


_have-clean-working-dir:
	@ if [ ! -f ".build_unclean" ]; then \
		if [ -d ".git" ]; then \
			if ! git status | grep -q 'nothing to commit (working directory clean)'; then \
				( \
				echo "##############################################################" ;\
				echo "#  Git working directory should be clean. (git status)" ;\
				echo "#  If you really want to build a package from an unclean" ;\
				echo "#  working copy then \"touch .build_unclean\" and try again." ;\
				echo "##############################################################" ;\
				) >&2 ;\
				exit 1 ;\
			fi ;\
		fi ;\
	else \
		( \
		echo "##############################################################" ;\
		echo "#  Building from an unclean working copy ..." ;\
		echo "##############################################################" ;\
		) >&2 ;\
	fi



override_dh_clean:
	dh_clean
	[ ! -f "$(TMP)/ERD.pdf" ] || rm "$(TMP)/ERD.pdf"
	@ # [ ! -d "vendor/bundle" ] || rm -rf "vendor/bundle"


override_dh_auto_build:
	@ #dh_auto_build  # calls `make`
	
	# Package Gems into vendor/bundle/:
	#
	@ if [ ! -f "Gemfile.lock" ]; then \
		( \
		echo "##############################################################" ;\
		echo "#  Gemfile.lock not found. It should be in your VCS." ;\
		echo "##############################################################" ;\
		) >&2 ;\
		exit 1 ;\
	fi
	@ if ! bundle check; then \
		( \
		echo "##############################################################" ;\
		echo "#  Did not find required Gems." ;\
		echo "#  Please run \"bundle install\"." ;\
		echo "##############################################################" ;\
		) >&2 ;\
		exit 1 ;\
	fi
	@ # Unfortunately "bundle package" (or "bundle install") downloads
	@ # the Gems and compiles them in one step. "build" target must
	@ # never download anything though.
	
	# Install Gems into vendor/bundle/:
	#FIXME TODO Remove vendor/bundle when done, but not in a "clean"
	# target.
	bundle install --deployment --local
	
	# Install Gems into vendor/cache/:
	bundle package
	
	bundle check


override_dh_auto_install:
	@ #dh_auto_install  # calls `make install`
	
	# Remove stuff that we don't want in the package (and which
	# shouldn't be in the VCS):
	find "$(TMP)" -type f -name '.DS_Store' -print0 \
		| xargs -0 -n 1 --no-run-if-empty 'rm'
	find "$(TMP)/log" -type f -name '*.log' -print0 \
		| xargs -0 -n 1 --no-run-if-empty 'rm'
	
	# Check that there aren't any local modifications:
	./debian/rules _have-clean-working-dir
	
	# Remove more stuff that we don't want in the package (which
	# may be in the VCS):
	find "$(TMP)" -type f -name '.git*' -print0 \
		| xargs -0 -n 1 --no-run-if-empty 'rm'
	find "$(TMP)" -type d -name '.git' -print0 \
		| xargs -0 -n 1 --no-run-if-empty 'rm'
	


%:
	dh $@ 
