
<h1><%= t('dp_route.view.show') %></h1>
<%= render 'show' %>
<%= link_to t(:edit), edit_dialplan_route_path( @dialplan_route ) if can?( :edit, @dialplan_route ) %> |
<%= link_to t(:Go_to_list), dialplan_routes_path if can?( :index, DialplanPattern ) %>
