h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }

body { margin: 0; padding: 1em 5%; }

.author {
	font-size: 1.0em;
	text-align: right;
	font-size: 0.95em;
	margin: 0.5em 0;
}
.author .author {
	padding: 0;
	margin: 0;
}

.tip .title,
.note .title,
.important .title,
.caution .title,
.warning { font-size: 1.0em; }

.tip,
.note,
.important,
.caution,
.warning {
	background: #eee;
	border: 1px solid #ddd;
	padding: 0.3em;
	margin: 0.5em;
}

.screen,
.programlisting,
.literallayout {
	background: #eef;
	border: 1px solid #ccf;
	padding: 0.3em;
}

.toc {
	background: #eee;
	border: 1px dashed #ccc;
	padding: 0.3em;
}

.sidebar {
	background: #efe;
	border: 1px solid #cfc;
	padding: 0.3em;
}

.title .literal {
	font-size: 1.08em;
	padding: 0 0.2em;
	color: #0b0;
	font-family: Courier, Courier New, Monaco, monospace;
}

p { padding: 0.1em 0.14em; margin: 0.8em 0; }

.section { margin: 3em 0; }

.screenshot {
	/*border: 1px solid #ccc;*/
	padding: 0.4em;
	margin: 1.0em;
	text-align: center;
}
.screenshot img {
	border: 1px solid #000;
	margin: 0.2em;
}
.screenshot .caption {
	text-align: center;
	margin: 0;
	font-size: 0.9em;
}
.screenshot .caption p {
	margin: 0.1em 0;
	padding: 0.1em;
}

