<h1><%= t(:editing_global_contact) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @global_contact if can?( :show, @global_contact ) %> |
<%= link_to t(:Go_to_list), global_contacts_path if can?( :index, GlobalContact ) %>
