<h1><%= t(:global_contact) %></h1>
<%= render 'show' %>
<%= link_to t(:edit), edit_global_contact_path(@global_contact) if can?( :edit, @global_contact ) %> |
<%= link_to t(:Go_to_list), global_contacts_path if can?( :index, GlobalContact ) %>
