<span class="tty">Navigation:</span>
<nav class="hnav">
	<ul>
		<% top_menu_items_array.each { |navigation_item| %>
		<li>
			<% if navigation_item[:url] != nil  %>
				<%= link_to navigation_item[:text], navigation_item[:url],
						current_page?( navigation_item[:url] ) ? { :class => 'current_page_navigation' } : {} %>
			<% else %>
				<% if navigation_item[:sub] != nil
					mark_as_current_page = false
					navigation_item[:sub].each { |sub_navigation_item|
						if current_page?( sub_navigation_item[:url] )
							mark_as_current_page = true
							break
						end
					}
					%>
					<%= link_to navigation_item[:text], nil,
						mark_as_current_page ? { :class => 'current_page_navigation' } : {} %>
				<% else %>
					<%= link_to navigation_item[:text], navigation_item[:url] %>
				<% end %>
			<% end %>
			<% if navigation_item[:sub] != nil %>
				<ul>
					<% navigation_item[:sub].each { |sub_navigation_item| %>
						<li><%= link_to sub_navigation_item[:text], sub_navigation_item[:url],
							current_page?( sub_navigation_item[:url] ) ? { :class => 'current_page_navigation' } : {}
						%></li>
					<% } %>
				</ul>
			<% end %>
		</li>
		<% } %>
	</ul> 
</nav> 
