<span class="tty">Navigation:</span>
<nav class="hnav">
	<ul>
		<% top_menu_items_array.each { |nav_item| %>
		<li>
			<% if nav_item[:url] != nil  %>
				<%= link_to nav_item[:text], nav_item[:url],
						current_page?( nav_item[:url] ) ? { :class => 'current_page_navigation' } : {} %>
			<% else %>
				<% if nav_item[:sub] != nil
					mark_as_current_page = false
					nav_item[:sub].each { |sub_nav_item|
						if current_page?( sub_nav_item[:url] )
							mark_as_current_page = true
							break
						end
					}
					%>
					<%= link_to nav_item[:text], nil,
						mark_as_current_page ? { :class => 'current_page_navigation' } : {} %>
				<% else %>
					<%= link_to nav_item[:text], nav_item[:url] %>
				<% end %>
			<% end %>
			<% if nav_item[:sub] != nil %>
				<ul>
					<% nav_item[:sub].each { |sub_nav_item| %>
						<li><%= link_to sub_nav_item[:text], sub_nav_item[:url],
							current_page?( sub_nav_item[:url] ) ? { :class => 'current_page_navigation' } : {}
						%></li>
					<% } %>
				</ul>
			<% end %>
		</li>
		<% } %>
	</ul> 
</nav> 
